#dantePluginPopup{
    z-index:101;
    background-color: lightgray;
 padding: 20px 20px;
 background: url(http://www.reportworld.co.kr/data/cover/thumb/big/cv_158688.png) ;
 width: 850px;
 height: 550px;
 background-size: 850px 550px;
}

#dantePluginTextArea {
 background-size: 800px 500px;
 width: 730px;
 height: 440px;
 font: normal 22px verdana;
 line-height: 37px;
 border: solid 1px #ddd;
    margin: 40px;
    padding: 15px;
    border-radius: 15px;
    z-index:101;
    color:black;
}